.event {
    position: relative;
    border: 2px dashed var(--color-black);
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(250, 245, 239);
}
.title {
    margin-top: 0;
    
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.info {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--color-black);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.25px;
}
.icon {
    display: block;
    margin-right: 8px;
    color: var(--color-secondary-text);
    size: 16px;
}
.chip {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: var(--color-black);
    color: #fff;
}

.free {
    background-color: var(--color-green);
}
.paid {
    background-color: var(--color-blue);
}
.vip {
    background-color: var(--color-red);
}
